@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /* text */
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  /* Gradient */
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

  /* diveders */
  --Light-grayish-blue: hsl(240, 5%, 91%);

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  padding: 2.4rem;
  background: linear-gradient(
    180deg,
    var(--Soft-violet) 0%,
    var(--Soft-blue) 100%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

main {
  background-color: white;
  border-radius: 2.2rem;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 40rem;
  margin-top: 11rem;
  box-shadow: 0px 102px 41px rgba(0, 0, 0, 0.03),
    0px 57px 34px rgba(0, 0, 0, 0.1), 0px 25px 25px rgba(0, 0, 0, 0.17);
}

.illustration {
  position: relative;
  display: grid;
  place-content: center;
  margin-bottom: 0.2rem;
}

.illustration .image {
  display: inherit;
  position: relative;
}

.illustration .image .bg {
  display: inherit;
}

.illustration .image .woman {
  display: inherit;
  position: absolute;
  width: 100%;
  transform: translateY(-59%);
}

.illustration .box {
  display: none;
}

.faq {
  padding: 2.4rem;
}

.faq h1 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  color: var(--Very-dark-desaturated-blue);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3.2rem;
}

.faq .question {
  border-bottom: 1px solid var(--Light-grayish-blue);
  padding-bottom: 1.7rem;
  margin-bottom: 1.8rem;
}

.faq .question .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.faq .question .title input {
  display: none;
}

.faq .question .title input:checked ~ label {
  font-weight: 700;
}

.faq .question .title input:checked ~ label span {
  transform: rotate(-180deg);
}

.faq .question .title input:checked ~ p {
  display: block;
}

.faq .question .title label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: 0.005em;
  color: var(--Very-dark-grayish-blue);
  cursor: pointer;
  transition: all 0.3s;
}

.faq .question .title label:hover {
  color: var(--Soft-red);
}

.faq .question .title span {
  transition: all 0.3s;
  margin: 0 1.2rem;
}

.faq .question .title p {
  display: none;
  color: var(--Dark-grayish-blue);
  padding-top: 1rem;
  transition: all 0.3s;
}

@media screen and (min-width: 940px) {
  body {
    padding: 4.8rem;
  }

  main {
    grid-template-columns: 46rem auto;
    margin-top: 0;
    margin-left: 4.3rem;
    max-width: 92rem;
  }

  .illustration {
    margin-bottom: 0;
  }

  .illustration .image {
    position: absolute;
    width: 100%;
    height: 100%;
    place-content: center;
    overflow: hidden;
  }

  .illustration .image .bg {
    position: absolute;
    transform: translate(-60%, -32%);
  }

  .illustration .image .woman {
    position: static;
    transform: translateX(-18%);
  }

  .illustration .box {
    display: inherit;
    transform: translate(-120%, 25%);
  }

  .faq {
    padding: 6.4rem 9.8rem 6.7rem 1.6rem;
  }

  .faq h1 {
    text-align: left;
    margin-bottom: 3.6rem;
  }

  .faq .question {
    margin-bottom: 1.6rem;
  }

  .faq .question .title label {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
}
